body {
  background: black;
  color: white;
}

h1{
    font-size: 50pt;
    text-align: center;
    color: lightblue;
    text-shadow:  -1px 0 red, 0 1px white, 1px 0 blue, 0 -1px purple;
}

table, tr, td{
  font-family: fantasy;
  font-size: 50px;
  border-color: white;
  border: solid;
  border-collapse: collapse;
  text-align: center;
}

td{
  width: 30%;
}

#login{
  /* primeiro menu */
  text-align: center;
}

#menu{
  /*menu das opcoes iniciais*/
  text-align: center;
}

#top{
  /*menu durante o jogo*/
  border: solid;
  color: green;
  width: 100%;
}

.bar{
  /*menu durante o jogo*/
}

.tabela{
  /*toda a tabela do jogo*/
  padding-left: 13.5cm;
}

.coluna{
  /*coluna do jogo*/
  float: left;
}

button{
  width: 2cm;
  height: 2cm;
  color: black;
  background-color: purple;
  border: solid;
  border-width: thick;
  border-color: black;

}

#peca{
  /*cada peca do jogo*/
  width: 2cm;
  height: 2cm;
  color: black;
  background-color: purple;
  border: solid;
  border-width: thick;
  border-color: black;
}
